*{font-family: arial; }

body{background:url(bg_grid.png);}
svg{position:absolute; z-index:-100; top:0px; left:0px; width:100%; height:100%;}

/*---------------------------------------*/
.NodeContainer{ position:absolute; background-color:rgba(63,63,63,.7); display:inline-block; border-radius:5px; box-shadow: 0px 5px 10px #000000;}

.NodeContainer > header{ display:block; background-color:#297286; color:white; cursor:pointer; border-radius:5px 5px 0px 0px;
	text-align:center; padding:4px 12px;
	-webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;           
}

.NodeContainer > ul { margin:0px; padding:0px; list-style:none; }
.NodeContainer > ul > li { position:relative; margin-top:8px; margin-bottom:8px; }
.NodeContainer > ul > li > span{padding-left:1em; padding-right:1em; color:white;}

.NodeContainer > ul > li > i{ position:absolute; width:0.6em; height:0.6em; background-color:gray; border-radius:1em; cursor:pointer; }
.NodeContainer > ul > li > i:hover{ background-color:red; }

.NodeContainer > ul > li.Input > i { left:-0.3em; top:0.4em; }
.NodeContainer > ul > li.Output { text-align:right;}
.NodeContainer > ul > li.Output > i { right:-0.25em; top:0.4em; }
.NodeContainer > ul > li.Active > i { background-color:#72a836;}	