html,body {margin:0px; padding:0px; width:100%; height:100%;}
* {font-family: Verdana;}

/* ##############################################################
Node Boxes
############################################################## */
.NodeBox { display:grid; position:absolute;
	grid-gap: 0px;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
}

.NodeBox > header { grid-column: 1/4; cursor: pointer;
	-webkit-touch-callout: none; -webkit-user-select: none;
	-moz-user-select: none; -ms-user-select: none; user-select: none;
}

.NodeBox > nav:nth-of-type(1){ grid-column: 1/2; grid-row: 2/3; }
.NodeBox > nav:nth-of-type(2){ grid-column: 3/4; grid-row: 2/3; }
.NodeBox > nav > div { cursor:pointer; }
.NodeBox > nav > div > span {pointer-events: none; 
	-webkit-touch-callout: none; -webkit-user-select: none;
	-moz-user-select: none; -ms-user-select: none; user-select: none; }

.NodeBox > main { grid-column: 2/3; grid-row: 2/3; margin:0px; padding:0px;}